/* ------------------------------------------------------------------------------------------------ */
/* ---- Modules Elements Styles ------------------------------------------------------------------- */


.loader {
    display: grid;
    place-content: center;
    z-index: $layer-foreground;

    &.full {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.5);
    }
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
