/* ------------------------------------------------------------------------------------------------ */
/* ---- Modules Elements Styles ------------------------------------------------------------------- */

.Logo {
    max-height: 100%;
    width: auto;
    color: $color-primary-6;

    &:hover {
        color: $color-primary-8;
    }
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
