/* ------------------------------------------------------------------------------------------------ */
/* ---- Light Theme Styles ------------------------------------------------------------------------ */


// default theme
:root,
:root[data-theme="light"] {

    /* ---------------------------------------------------- */
    /* Color-Scheme Base Property ------------------------- */
    
    color-scheme: light;
    

    /* ---------------------------------------------------- */
    /* Colors In Use -------------------------------------- */
    
    // --clr-prm-h: 191; --clr-prm-s:  89%; --clr-prm-l: 52%; // primary
    // --clr-sec-h: 222; --clr-sec-s: 100%; --clr-sec-l: 50%; // secondary
    // --clr-acc-h: 155; --clr-acc-s:  91%; --clr-acc-l: 39%; // accent
    
    // --clr-info-bg:     209 100% 94%;
    // --clr-info-txt:    209 100% 31%;
    // --clr-error-bg:    338 100% 95%;
    // --clr-error-txt:   338 100% 31%;
    // --clr-success-bg:  157 100% 97%;
    // --clr-success-txt: 155 100% 26%;

    // --shadow-c: hsl(#{$colorValues-gray-9} / 19%);

    // --title-c: #{$color-gray-10};
    // --title-h: #{$color-primary-dark};

    // --body-bg-c:  #{$color-gray-1};
    // --body-bg-h:  #{$color-gray-2};
    // --body-txt-c: #{$color-gray-7};
    // --body-txt-h: #{$color-primary};

    // --sheet-bg-c:  #{$color-gray-2};
    // --sheet-bg-h:  #{$color-gray-2};
    // --sheet-txt-c: #{$color-gray-7};
    // --sheet-txt-h: #{$color-gray-7};

    // --tip-bg-c:  #{$color-gray-10};
    // --tip-txt-c: #{$color-gray-2};
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */