/* ------------------------------------------------------------------------------------------------ */
/* ---- React Component - Body Styles ------------------------------------------------------------- */

.Body {
    position: relative;
    padding-top: calc(2rem + $header-height);
    padding-bottom: 9rem;
    width: 100vw;
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
