/* ------------------------------------------------------------------------------------------------ */
/* ---- Section Styles -------------------------------------------------------------------- */

.section {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.logo-section {
    display: grid;
    place-items: center;
    margin-bottom: 0;
    height: 20vh;
    
    .logo {
        font-size: $fontSize-3xl;
    }
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */